@charset "utf-8";
/*common style
-------------------------------------------- */

@import "compass";

html{
    font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}


$ja_g : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;
$ja_m : "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
$pink : #ffcac9;
$yellow : #e6dea9;
$green : #14c0c9;
$font : #b2804c;

/*Webフォント*/

@font-face {
  font-family: 'set_hannari';  
  src: url('../font/hannari.otf') format('opentype'),
       url('../font/hannari.woff') format('woff'),
       url('../font/hannari.ttf') format('truetype');
}

body{
        background: #e3f4f1;
}

header{
    background: #fff;
    padding: 2%;
    box-shadow: 0px 6px 3px -3px rgba(215,232,229,0.6);
}

h1,h2,h3{
    @include fontsize(24);
}

h1,h2,h3,ul,li,p,a,img,dl,dt,dd{
    margin: 0;
    padding: 0;
    color: #626262;
}

th,td{
    border: none;
}
a{
    text-decoration: none;
    color: #626262;
    &:hover{
        color: #626262;
    }
}

ul{
    list-style: none;
}

//sp用改行クラス
.br_sp{
    display: none;
}  
@mixin clearfix{
    content: "";
    display: block;
    clear: both;
}

@mixin fontset{
    font-family: "set_hannari", "Hannari", $ja_m ;
    letter-spacing: -0.1rem;
}

/* SP用 
----------------------------------------------------------------*/

/* header共通ここから
-------------------------------------------- */
.header_bg{
    position: fixed;
    height: 13%;
    z-index: 99;
    width: 100%;
    min-width: 330px;
    
header{
        .pc_h,.sp_nav,.pc_nav{
        display: none;
    }
    .sp_h{
        display: flex;
        justify-content: space-between;
        .logo{
            width:223px;
            height: 40px;
        }
        .sp_h_right{
            width:80px;
            display: flex;
            align-items: flex-end;
            .lesson{
                box-sizing: border-box;
                    img{
                        width: 58px;
                        height: 37px;
                        vertical-align: bottom;
                    }
            }
            .bar{
                font-size: 3rem;
                color: $yellow;
            }
            a{
                display: inline-block;
            }
        }      
        
    }


}//header,nav
}//header_bg

.sp_nav_wrap{
    

    .sp_nav{
        position: absolute;
        top: 55%;
        right: 0;
        padding-right: 2px;
        display: none;
        width: 100%;
        text-align: right;
        line-height: 2.8;
        background: rgba(255,255,255,0.8);
        z-index: 1;
        li{
            border-bottom: solid 1px #eee;
            font-weight: bold;
            @include fontset;
            a{
                padding-right: 3%;
                color: #626262;
                &:hover{
                    opacity: 0.6;
                }
            }
            
        }
    }
}
/* header,nav共通ここまで
-------------------------------------------- */

    
main{
    padding-top: 63px;
    

/*メインビジュアル
----------------------------------------------------------- */

    .main_v{
        
        .main_catch_pc{
            display: none;
        }
    
        .main_img_sp{
            position: absolute;
            top: 0;
            z-index: 9;
        }

        .main_photo{
            margin-top: 15px;
            position: relative;
            img{
                position: absolute;
            left: 0;
            top: 0;
            }
        }

         

    }//main_v
    
    .main_catch_sp{
     //   backgroud: url('../img/common/bg_img.png') no-repeat top;
        height: auto;
    //   backgroud-size: contain;
        margin-top: 2%;
        h2{
            @include fontsize(18);
            color: $font;
            line-height: 1.6;
            font-family: "set_hannari", "Hannari", $ja_m ;
            letter-spacing: 0.2rem;
            font-weight: bold;
        }
        p{
            @include fontsize(16);
            color: $font;
            font-family: "Hannari", $ja_m ;
            letter-spacing: 0.1rem;
            
        }
    }

/* 教室紹介部分ここから
---------------------------------------------------------*/
    
        .sp_bg_score{
        padding-top: 60%;
        background: url('../img/common/bg_score.png');
        background-size: 100%;
        background-repeat: repeat-y;
        .main_catch_sp{
            display: block;
        }
        
    }
    .int_sec{
        content:"";
            display: block;
            width: 100%;
            height: auto;
            background-image: url('../img/common/tone_p.png'), 
                              url('../img/common/tone_b.png'), 
                              url('../img/common/tone_y.png');
            background-repeat: no-repeat,
                               no-repeat,
                               no-repeat;  
            background-size: 7%,8%,8%;
            background-position: 13.333333333333334% 23.59882005899705%,
                                 60% 50.14749262536873%,
                                 34% 77%;
            
    
    .int{
        
        display: flex;
        align-items: center;
        padding: 2% 2% 6% 2%;
        

        img{
            max-width: 50%;
            border-radius: 90%;
            border:solid 10px #fff;
            box-sizing: border-box;

            
            
            
        }
        .flex{
            box-sizing: border-box;
            padding-left: 5%;
            
            h3{
                @include fontsize(20);
                font-weight: bold;
                @include fontset;
                padding-bottom: 5%;
            }
            p{
                @include fontsize(14);
                letter-spacing: -0.03rem;
                font-family: $ja_g;
            }
        }
        
        
         }//.int
         
         .reverse{
        display: flex;
        flex-direction: row-reverse;
    }    
    
        }//.int_sec


/* 教室紹介部分ここまで
---------------------------------------------------------*/

//ご挨拶

    .greeting{
        padding-top: 20px;
        position: relative;
        h3{
            @include fontsize(20);
            padding-bottom: 2%;
            font-family: "set_hannari", "Hannari", $ja_m ;
            
            i{
                padding-right: 2%;
            }
        }
        .greet{
            border-radius: 5px;
            background: #fff;
            padding: 5% 5% 30% 5%;
            background: url('../img/common/greeting_img.png') no-repeat,
                        #fff;
            background-position:right bottom;
            background-size: 148px 153px;
            
            
            }

    }//greeting
    
//お知らせ  
    .info{
        padding: 20px 0;
        h3{
            @include fontsize(20);
            font-family: "set_hannari", "Hannari", $ja_m ;
            padding-bottom: 2%;
            i{
                padding-right: 2%;
            }
        }
        
        .wrap{
            position: relative;
            padding: 5%;
            border-radius: 5px;
            background: #fff;
            padding-bottom: 50px;
            .info_bg{

        }
            .more{
                position: absolute;
                top: 70%;
                right: 10px;
                @include fontsize(14);
                margin-left: 68%;
                border: solid 1px $yellow;
                border-radius: 5% 5% 5%;
                padding:3px 20px;
                color: $yellow;
                &:hover{
                    color: #fff;
                    background: $yellow;
                    transition: 0.8s ease;
                }
            }
        }

        
        
        
    }
    
//アクセス
    .access{
        @extend .info;
    }

//バナー
.side{
    margin-top: 20px;
    .fb_iframe_widget,
    .fb_iframe_widget span,
    .fb_iframe_widget iframe[style]{
                            width: 100% !important;
                            }
    .bn{
        margin-top: 20px;
        width: 100%;
        a:hover{
            color: #626262;
        }
    .recital{
        display: flex;
        width: 100%;
        background: $pink;
        align-items: center;

        margin-bottom: 10px;
        .left{
            padding: 3% 2% 3% 3%;
            width: 50%;
            text-align: right;
            box-sizing: border-box;
            h4{
                @include fontsize(16);
                font-weight: lighter;
                text-shadow: 1px 1px 0 #fff,
                             1px -1px 0 #fff,
                             -1px 1px 0 #fff,
                             -1px -1px 0 #fff;
                
                padding-bottom: 2%;
            }
            p{
                @include fontsize(12);
                line-height: 1.2;
                
            }
        }
        .trim{
            width: 50%;
            height: auto;
            

        }
        img{
            display: block;
        }

        }//recital
    
    .concert{
        @extend .recital;
            flex-direction: row-reverse;
            background: $yellow;
            .left{
                text-align: left;
                
            }
            .trim{
                width: 50%;
            }
    }
    .blog{
        @extend .recital;
        background: #e8c56e;
        
    }
}//bn
}//side

/* topへ戻る　共通部分ここから
---------------------------------------------- */
.back_wrap{
    text-align: center;

        .toTop{
            display: inline-block;
        padding: 10px;
        margin: 18px auto 20px auto;
            width:120px;
            height:21px;
            img{
                vertical-align: bottom;
            }
        }
    
}

/* topへ戻る　共通部分ここまで
---------------------------------------------- */
   
    
}//main

/* footer　共通部分ここから
---------------------------------------------- */

footer{
    text-align: center;
    box-shadow: 0px -6px 3px -3px rgba(215,232,229,0.6);
    .footerlogo{
        margin-top: 5%;
        padding-bottom: 5%;
        width: 220px;
        height: auto;
        display: block;
        margin: 0 auto;
        
    }
    .footerlogo_pc{
        display: none;
    }

    .sitemap{
        margin: 0 auto;
        text-align: left;
        @include fontsize(10);
        display: flex;
        width: 70%;
        justify-content: space-around;
        line-height: 2.5;
        margin-bottom: 10px;
    }
    
    .copyright{
        @include      fontsize(10);
        display: block;
        margin-top: 24%;
    }
}
.sp_ft{
    padding-top: 5%;
    background: url('../img/common/footer_img1.png'),
                #fff;
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 0 80%;
}


/* PC用(900px以上)
-------------------------------------------------------*/
@media(min-width: 900px){
    
/*header,nav共通ここから
-------------------------------------------- */
.header_bg{
    position: relative;
    header{
            background:#fff;
            position: relative;
  
        .sp_h,.sp_nav{
            display: none;
            
        }
        .pc_h{
            display: block;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            vertical-align: bottom;
            padding: 5% 10px 50px 0;
            background:  url('../img/pc/contact_frame.png');
            background-size: 250px; 
            background-repeat: no-repeat;
            background-position: 100% 40%;
            
            
            .logo{
                width: 250px;
                height: auto;
                
            }
            .pc_h_right{
                padding: 0x 10px 50px 0;
                width: 480px;
                display: flex;
                
                
                
                .lesson{
                    vertical-align: bottom;
                    margin-right: 75px;
                    a{
                        display: block;
                    
                    
                    img{
                        display: block;
                        width: 180px;
                        height: auto;
                        vertical-align: bottom;
                        
                     }
                    }
                    
                    
                }
                .contact{
                    text-align: center;
                    p{
                        color: $font;
                        
                    i{
                        padding-right: 2%;
                    }
                    }
                }
   
            }//pc_h_right
            
        }//.pc_h

/* PC用ナビゲーションここから
-------------------------------------------------------------------- */
.pc_nav{
        display: block;
        
        .pc_nav_in{
            display: flex;
            width: 100%;
            height: 50px;
            margin: 0 auto;
            position: relative;
 
            li{
                text-align: center;
                width: 14.3%;
                border-left: solid 1px $font;
                position: relative;
                
                &:last-child{
                    border-right: solid 1px $font;
                }
                &:after{
                            content: " ";
                            display: block;
                            width: 26px;
                            height: 20px;
                            background: $pink;
                            border-radius: 100% 80% 100% 80%;
                            position: absolute;
                            
                        }
                        &:nth-child(even){
                            &:after{
                                background: $yellow;
                            }
                        }
                
           /*     &:hover{
                        width: 14.3%;
                        height: 50px;
                        &:after{
                            content: " ";
                            display: block;
                            width: 26px;
                            height: 20px;
                            background: $pink;
                            border-radius: 100% 80% 100% 80%;
                            position: absolute;
                            
                        }
                        &:nth-child(even){
                            &:after{
                                background: $yellow;
                            }
                        }
                        
                }
                */
                        
                a{
                    display: block;
                    height: 50px;
                    
                    
                    span{
                        @include fontsize(16);
                        font-family: "Hannari";
                        display: block;
                        padding-top: 10px;
                        position: relative;
                        z-index: 1;
                        
                    }
                    &:hover{
                        color: #626262;
                    }
                }
                }//li
                
/* PC用ナビゲーション個々の動き
------------------------------------------*/            
            .home{
                &::after{
                    top: 50%;
                    left: 20%;
              
              
              /*  &:hover{
                    &::after{
                        top: 60%;
                        left: 18%;
                    
                    }
                    
                } */
                a > span{
                    z-index: 99;
                }
                }

                
            }
            .about{
               
                &:after{
                    top: 30%;
                    left: 25%;
                    transition: .4s;
                }
                &:hover{
                    &:after{
                   
                }
                    
                }
            } 
            .lesson{
                &:after{
                    top: 0;
                    left: 30%;
                }
                &:hover{
                    &:after{
                   
                    }
                    
                }
            }
            .piano{
                &:after{
                    top: 36%;
                    left: 30%;
                }
                &:hover{
                    &:after{
                    
                    }
                    
                }
            } 
            .teacher{
                &:after{
                    top: 45%;
                    left: 30%;
                }
                &:hover{
                    &:after{
 
                    }
                    
                }
            } 
            .access{
                &:after{
                    top: 0;
                    left: 30%;
                }
                &:hover{
                    &:after{
                    
                    }
                    
                }
            } 
            .contact{
                &:after{
                    top: 50%;
                    left: 40%;
                }
                &:hover{
                    &:after{
                    
                    }
                    
                }
            } 

            
            }//pc_nav_in
    }//pc_nav
    
/* PC用ナビゲーションここまで
-------------------------------------------------------------------- */
    }//header
}//header_bg
/*header,nav共通ここまで
-------------------------------------------- */   
    
 main{
     padding-top: 0;
    .main_v{
        position: relative;
        .main_img_sp{
            display: none;
        }
        .main_catch_pc{
            display: block;
            width: 100%;
            position: absolute;
            top: 0;
            z-index: 9;
            
        }        
        
    }
    .sp_bg_score{
        background: none;
    .main_catch_sp{
            display: none;
        }
    .int_sec{
        padding-top:30px;
        display: flex;
        text-align: center;
        background: url('../img/common/bg_img.png') no-repeat;
        background-position: 0 100%;

   
    .int{
        display: block;
        h3{
            @include fontsize(24);
            letter-spacing: 0;
            padding-top: 20px;
        }
        img{
            max-width:70%;
            border: solid 10px #fff;
            border-radius: 90%;
        }
        .flex{
            .indent{
                padding-top:30px;
            }

            }
        }
    
    
    }//int_sec
}

//お知らせ
.info_link{
    display: block;
    margin-bottom: 2%;
    dt{
        float: left;
        margin-right: 2%;
    }
    dd{
        float: left;
    }
    &:after{
        display: block;
        content:"";
        clear: both;
    }
}

.side{
    margin-top: 58px;
} 
    .greeting{
        width: 90%;
        height: auto;
        .greet{

        }
    }
    
    .info{
        width: 90%;
        more{
            
        }
    }
    .recital{
        .trim{
            vertical-align: bottom;
        }
    }

.back_wrap{
    text-align: right;
}

  }//main
 


/* footer共通ここから
-------------------------------------------- */
  footer{
      
      .ft_bg{
    background: url('../img/common/footer_img1.png'),
                url('../img/common/footer_img2.png');
    background-repeat: no-repeat,no-repeat;
    background-position: 0 100%, 100% 80%;
    background-size: 20%, 20%;
    padding-top: 5%;
      }
     .footer_in{
         display: flex;
         width: 80%;
    .footerlogo{
        display: none;
    }
    .footerlogo_pc{
        display: block;
        width: 337px;
        height: 54px;
        margin-left: 10%;
    }
    .sitemap{
        @include fontsize(10);
        display: flex;
        width: 30%;
        justify-content: space-between;
        line-height: 2.5;
        text-align: left;
        }
     }//footer_in
    
    .copyright{
        text-align: right;
        margin-top: 0;
    }

    }//footer
    
    .pc_ft{
        background: #fff;
        padding-top: 0;
    }

/* footer共通ここまで
-------------------------------------------- */
}


/* about.html
-------------------------------------------- */

//背景
.bg_score{
    position: relative;
    content: "";
    background: url('../img/common/bg_score.png') repeat-y top left;
    background-size: contain;
    background-position: 0 -80px;
    width: 100%;
} 

.about_desc_wrap{
    margin-bottom: 10%;
    .title{
        display: inline-block;
        h2{
            @include fontset;
        }
    .line{
        display: block;
        width: 100%;
        border-top: solid 1px $font;
        border-bottom: solid 3px $font;
        padding:3px 0 0 0;
        margin-bottom: 3%;
        }
    }
    .about_wrap{
        
        p{
            @include fontsize(14);
        }
    }
    .about_desc_right{
        padding-top: 2%;
        margin-bottom: 2%;
        img{
            vertical-align: bottom;
            border: solid 10px #fff;
            border-radius: 5px;
        }
    }
}//about_desc_wrap

.column{
    display: flex;
    flex-direction: column-reverse;
    align-content: center;
}

.desc2_wrap{
        .desc2_title{
            display: block;
            @include fontsize(20);
            color: #626262;
            text-align: center;
            margin-bottom: 5%;
        }

        
        h3{
            @include fontsize(18);
            color: $font;
            position: relative;
            display: block;
            padding-left: 43px;
           // padding-top: 0.7%;
            margin-bottom: 5%;
            
            
            }
        .align{
            padding-top: 5px;
        }

        .pt1::before{
            position: absolute;
                content: "";
                width: 38px;
                height: 38px;
                background: url('../img/sp/pt1@2x.png') top left no-repeat;
                background-size: 38px 38px;
                
        }
        .pt2::before{
            position: absolute;
                content: "";
                width: 38px;
                height: 38px;
                background: url('../img/sp/pt2@2x.png') top left no-repeat;
                background-size: 38px 38px;
                padding-right: 5%;
        }
        .pt3::before{
            position: absolute;
                content: "";
                width: 38px;
                height: 38px;
                background: url('../img/sp/pt3@2x.png') top left no-repeat;
                background-size: 38px 38px;
                padding-right: 5%;
        }
        
        p{
            @include fontsize(14);
            color: $font;
            margin-bottom: 10%;
        }
        .wrap{
            text-align: right;
        .click_re{
            display: inline-block;
            text-align: center;
            background: $pink;
            padding: 3% 10%;
            border-radius: 5px;
            }
        }
    }
    
/* lesson.html
-------------------------------------------- */
.lesson_desc_wrap{

    .title{
        display: inline-block;
        h2{
            @include fontset;
        }
    .line{
        display: block;
        width: 100%;
        border-top: solid 1px $font;
        border-bottom: solid 3px $font;
        padding:3px 0 0 0;
        margin-bottom: 3%;
        }
    }
        .lesson_desc{
                background: #fff;
                border-radius: 10px;
                padding: 5%;
                margin-bottom: 5%;
                i{
                    @include fontsize(20);
                    padding-right: 2%;
                    color: $font;
                }
                p{
                    margin: 5px 0 5px;
                    margin-left: 25px;
                }
        }

    .lesson_desc_right{
        padding-top: 2%;
        margin-bottom: 2%;
        img{
            vertical-align: bottom;
        }
    }
}//lesson_desc_wrap

    .wrap{
            text-align: center;
            margin-bottom: 5%;

        .click_free{
            width: 180px;
            display: inline-block;
            text-align: center;
            background: $pink;
            padding: 10px 40px;
            border-radius: 5px;
            
            }
        }

.le_desc2_wrap{
        .desc2_title{
            display: block;
            @include fontsize(20);
            color: #626262;
            text-align: center;
            margin-bottom: 5%;
        }

        
        h3{
            @include fontsize(18);
            color: $font;
            position: relative;
            display: block;
            margin-bottom: 5%;
            i{
                padding-right:2%;
            }
            i.y{
                color: $yellow;
            }
            i.p{
                color: $pink;
            }
            i.g{
                color: $green;
            }
            }
        .align{
            padding-top: 5px;
        }
        
        p{
            @include fontsize(14);
            color: $font;
            margin-bottom: 10%;
        }
        table{
            tr,td{
                vertical-align: top;
                padding:0 10px 5px 0;
                @include fontsize(11);
                
            }
        }
    
}

.lesson_desc3_wrap{
        .desc3_title{
            display: block;
            @include fontsize(20);
            color: #626262;
            text-align: center;
            margin-bottom: 5%;
        }
        p{
            @include fontsize(14);
            color: $font;
        }
    
}

.access_desc_wrap{
    @extend .lesson_desc_wrap;
    
    p{
        margin-top: 2%;
       
        line-height: 2.0;
    }
    .access_loca{
        display: flex;
        justify-content: space-between;
        img{
            width: 120px;
        }
 
    }
}


/* profile.html
-------------------------------------------- */
.profile_desc_wrap{
    @extend .lesson_desc_wrap;

.profile_wrap{
    margin-top: 2%;
}
.profile_left{
    img{
        vertical-align: bottom;
        width: 300px;
        border: solid 10px #fff;
        border-radius: 5%;
    }
}
.profile_right{
    margin-top: 5%;
    background: rgba(255,255,255,0.6);
    border-radius: 10px;
    padding: 10%;
    h3{
        text-align: center;
        @include fontsize(24);
        @include fontset;
        padding-bottom: 10px;
        .br{
            display: block;
            @include fontsize(16);
        }
    }
}

.wrap{
    margin-top: 5%;
    .click_play{
        @extend .click_free;
        background: $yellow;
    }
}

}


/* (PC:900px)
-------------------------------------------- */
@media(min-width: 900px){

.bg_score{
    position: relative;
    content: "";
    background: url('../img/common/bg_score.png') repeat-y top left;
    background-size: contain;
    background-position: 0 -500px;
    width: 100%;
} 
    .about_desc_wrap,.lesson_desc_wrap,.access_desc_wrap{
        margin-top: 2%;
        .column{
        display: block;
        margin: 0;
        margin-top: 3%;
        }
        .about_desc{
            padding-right: 15%;
            box-sizing: border-box;
        }
        .about_desc_right{
            padding: 0;
            margin: 0;
        }
    

    }//about_desc_wrap
    
.desc2_wrap,.lesson_desc_right,.le_desc2_wrap,.le_desc3_wrap,.access_desc2_wrap{
    
        .desc2_title,.desc3_title{
            text-align: left;
        }

        h3{
            padding-left: 6%;
            margin-bottom: 2%;
        }
        p{
            width:400px;
            margin-left: 50px;
            margin-bottom: 4%;
        }
        
        .wrap{
            
        .click_re{
            display: block;
            width: 100px;
            margin-left: 400px;
            padding: 10px 40px;
            border-radius: 10px;
        }
    }
    
    
    .le_pt1,.le_pt2,.le_pt3{
        display: flex;
        h3{
            width: 130px;
            padding: 0;
        }
        p{
            width:600px;
        }
  
    }
            table{
            margin-left:170px;
            tr,td{
                vertical-align: top;
                padding:0 10px 5px 0;
                
            }
        }
        .wrap{

         .click_free{
        display: block;
        border-radius: 10px;
        }
    }
    }
    .le_desc3_wrap{
        p{width:auto;}
    }
    

.profile_desc_wrap{

    .profile_right{
        margin: 0;
        border-radius:5%;
        height: 300px;
        padding: 8% 15%;
        h3{
            .br{
                display: inline;
                @include fontsize(24);
                padding-left: 2%;
            }
        }
    }
    .wrap{
        text-align: right;

    }
}
    .pt1,.pt2,.pt3{
        display: flex;
        h3{
            padding: 0;
            margin-left: 20px;
            width: 300px;

        }
        p{
            width: 600px;
        }
    }

.access_desc_wrap{

    .access_desc{
        p{
            margin-bottom: 98px;
        }
    }
}
.access_desc2_wrap{
        margin-top: 5%;
  p{
      margin: 0;
      color: $font;
  }
  .gm_area{
      margin-top:30px;
  }
}

    
}

