@charset "UTF-8";
/*common style
-------------------------------------------- */
html {
  font-size: 62.5%; }

/*Webフォント*/
@font-face {
  font-family: 'set_hannari';
  src: url("../font/hannari.otf") format("opentype"), url("../font/hannari.woff") format("woff"), url("../font/hannari.ttf") format("truetype"); }
body {
  background: #e3f4f1; }

header {
  background: #fff;
  padding: 2%;
  box-shadow: 0px 6px 3px -3px rgba(215, 232, 229, 0.6); }

h1, h2, h3 {
  font-size: 24px;
  font-size: 2.4rem; }

h1, h2, h3, ul, li, p, a, img, dl, dt, dd {
  margin: 0;
  padding: 0;
  color: #626262; }

th, td {
  border: none; }

a {
  text-decoration: none;
  color: #626262; }
  a:hover {
    color: #626262; }

ul {
  list-style: none; }

.br_sp {
  display: none; }

/* SP用 
----------------------------------------------------------------*/
/* header共通ここから
-------------------------------------------- */
.header_bg {
  position: fixed;
  height: 13%;
  z-index: 99;
  width: 100%;
  min-width: 330px; }
  .header_bg header .pc_h, .header_bg header .sp_nav, .header_bg header .pc_nav {
    display: none; }
  .header_bg header .sp_h {
    display: flex;
    justify-content: space-between; }
    .header_bg header .sp_h .logo {
      width: 223px;
      height: 40px; }
    .header_bg header .sp_h .sp_h_right {
      width: 80px;
      display: flex;
      align-items: flex-end; }
      .header_bg header .sp_h .sp_h_right .lesson {
        box-sizing: border-box; }
        .header_bg header .sp_h .sp_h_right .lesson img {
          width: 58px;
          height: 37px;
          vertical-align: bottom; }
      .header_bg header .sp_h .sp_h_right .bar {
        font-size: 3rem;
        color: #e6dea9; }
      .header_bg header .sp_h .sp_h_right a {
        display: inline-block; }

.sp_nav_wrap .sp_nav {
  position: absolute;
  top: 55%;
  right: 0;
  padding-right: 2px;
  display: none;
  width: 100%;
  text-align: right;
  line-height: 2.8;
  background: rgba(255, 255, 255, 0.8);
  z-index: 1; }
  .sp_nav_wrap .sp_nav li {
    border-bottom: solid 1px #eee;
    font-weight: bold;
    font-family: "set_hannari", "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    letter-spacing: -0.1rem; }
    .sp_nav_wrap .sp_nav li a {
      text-align: right;
      display: block;
      padding: 2% 3% 2% 3%;
      color: #626262; }
      .sp_nav_wrap .sp_nav li a:hover {
        opacity: 0.6; }

/* header,nav共通ここまで
-------------------------------------------- */
main {
  padding-top: 20%;
  /*メインビジュアル
  ----------------------------------------------------------- */
  /* 教室紹介部分ここから
  ---------------------------------------------------------*/
  /* 教室紹介部分ここまで
  ---------------------------------------------------------*/
  /* topへ戻る　共通部分ここから
  ---------------------------------------------- */
  /* topへ戻る　共通部分ここまで
  ---------------------------------------------- */ }
  main .main_v .main_catch_pc {
    display: none; }
  main .main_v .main_img_sp {
    position: absolute;
    top: 0;
    z-index: 9; }
  main .main_v .main_photo {
    margin-top: 15px;
    position: relative; }
    main .main_v .main_photo img {
      position: absolute;
      left: 0;
      top: 0; }
  main .main_catch_sp {
    height: auto;
    margin-top: 2%; }
    main .main_catch_sp h2 {
      font-size: 18px;
      font-size: 1.8rem;
      color: #b2804c;
      line-height: 1.6;
      font-family: "set_hannari", "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
      letter-spacing: 0.2rem;
      font-weight: bold; }
    main .main_catch_sp p {
      font-size: 16px;
      font-size: 1.6rem;
      color: #b2804c;
      font-family: "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
      letter-spacing: 0.1rem; }
  main .sp_bg_score {
    padding-top: 60%;
    background: url("../img/common/bg_score.png");
    background-size: 100%;
    background-repeat: repeat-y; }
    main .sp_bg_score .main_catch_sp {
      display: block; }
  main .int_sec {
    content: "";
    display: block;
    width: 100%;
    height: auto;
    background-image: url("../img/common/tone_p.png"), url("../img/common/tone_b.png"), url("../img/common/tone_y.png");
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 7%,8%,8%;
    background-position: 13.333333333333334% 23.59882005899705%, 60% 50.14749262536873%, 34% 77%; }
    main .int_sec .int {
      display: flex;
      align-items: center;
      padding: 2% 2% 6% 2%; }
      main .int_sec .int img {
        max-width: 50%;
        border-radius: 90%;
        border: solid 10px #fff;
        box-sizing: border-box; }
      main .int_sec .int .flex {
        box-sizing: border-box;
        padding-left: 5%; }
        main .int_sec .int .flex h3 {
          font-size: 20px;
          font-size: 2rem;
          font-weight: bold;
          font-family: "set_hannari", "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
          letter-spacing: -0.1rem;
          padding-bottom: 5%; }
        main .int_sec .int .flex p {
          font-size: 14px;
          font-size: 1.4rem;
          letter-spacing: -0.03rem;
          font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif; }
    main .int_sec .reverse {
      display: flex;
      flex-direction: row-reverse; }
  main .greeting {
    padding-top: 20px;
    position: relative; }
    main .greeting h3 {
      font-size: 20px;
      font-size: 2rem;
      padding-bottom: 2%;
      font-family: "set_hannari", "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif; }
      main .greeting h3 i {
        padding-right: 2%; }
    main .greeting .greet {
      border-radius: 5px;
      background: #fff;
      padding: 5% 5% 30% 5%;
      background: url("../img/common/greeting_img.png") no-repeat, #fff;
      background-position: right bottom;
      background-size: 148px 153px; }
  main .info, main .access {
    padding: 20px 0; }
    main .info h3, main .access h3 {
      font-size: 20px;
      font-size: 2rem;
      font-family: "set_hannari", "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
      letter-spacing: -0.1rem;
      padding-bottom: 2%; }
      main .info h3 i, main .access h3 i {
        padding-right: 2%; }
    main .info .wrap, main .access .wrap {
      position: relative;
      padding: 5%;
      border-radius: 5px;
      background: #fff;
      padding-bottom: 50px; }
      main .info .wrap .info_bg .in, main .access .wrap .info_bg .in {
        display: flex; }
        main .info .wrap .info_bg .in dt, main .access .wrap .info_bg .in dt {
          padding-right: 5%; }
      main .info .wrap .more, main .access .wrap .more {
        position: absolute;
        top: 70%;
        right: 10px;
        font-size: 14px;
        font-size: 1.4rem;
        margin-left: 68%;
        border: solid 1px #e6dea9;
        border-radius: 5% 5% 5%;
        padding: 3px 20px;
        color: #e6dea9; }
        main .info .wrap .more:hover, main .access .wrap .more:hover {
          color: #fff;
          background: #e6dea9;
          transition: 0.8s ease; }
  main .side {
    margin-top: 20px; }
    main .side .fb_iframe_widget,
    main .side .fb_iframe_widget span,
    main .side .fb_iframe_widget iframe[style] {
      width: 100% !important; }
    main .side .bn {
      margin-top: 20px;
      width: 100%; }
      main .side .bn a:hover {
        color: #626262; }
      main .side .bn .recital, main .side .bn .concert, main .side .bn .blog {
        display: flex;
        width: 100%;
        background: #ffcac9;
        align-items: center;
        margin-bottom: 10px; }
        main .side .bn .recital .left, main .side .bn .concert .left, main .side .bn .blog .left {
          padding: 3% 2% 3% 3%;
          width: 50%;
          text-align: right;
          box-sizing: border-box; }
          main .side .bn .recital .left h4, main .side .bn .concert .left h4, main .side .bn .blog .left h4 {
            font-size: 16px;
            font-size: 1.6rem;
            font-weight: lighter;
            text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, -1px -1px 0 #fff;
            padding-bottom: 2%; }
          main .side .bn .recital .left p, main .side .bn .concert .left p, main .side .bn .blog .left p {
            font-size: 12px;
            font-size: 1.2rem;
            line-height: 1.2; }
        main .side .bn .recital .trim, main .side .bn .concert .trim, main .side .bn .blog .trim {
          width: 50%;
          height: auto; }
        main .side .bn .recital img, main .side .bn .concert img, main .side .bn .blog img {
          display: block; }
      main .side .bn .concert {
        flex-direction: row-reverse;
        background: #e6dea9; }
        main .side .bn .concert .left {
          text-align: left; }
        main .side .bn .concert .trim {
          width: 50%; }
      main .side .bn .blog {
        background: #e8c56e; }
  main .back_wrap {
    text-align: center;
    clear: both; }
    main .back_wrap .toTop {
      display: inline-block;
      padding: 10px;
      margin: 18px auto 20px auto;
      width: 120px;
      height: 21px; }
      main .back_wrap .toTop img {
        vertical-align: bottom; }

/* footer　共通部分ここから
---------------------------------------------- */
footer {
  text-align: center;
  box-shadow: 0px -6px 3px -3px rgba(215, 232, 229, 0.6); }
  footer .footerlogo {
    margin-top: 5%;
    padding-bottom: 5%;
    width: 220px;
    height: auto;
    display: block;
    margin: 0 auto; }
  footer .footerlogo_pc {
    display: none; }
  footer .sitemap {
    margin: 0 auto;
    text-align: left;
    font-size: 10px;
    font-size: 1rem;
    display: flex;
    width: 70%;
    justify-content: space-around;
    line-height: 2.5;
    margin-bottom: 10px; }
  footer .copyright {
    font-size: 10px;
    font-size: 1rem;
    display: block;
    margin-top: 24%; }

.sp_ft {
  padding-top: 5%;
  background: url("../img/common/footer_img1.png"), #fff;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 0 80%; }

/* PC用(900px以上)
-------------------------------------------------------*/
@media (min-width: 900px) {
  /*header,nav共通ここから
  -------------------------------------------- */
  .header_bg {
    position: relative; }
    .header_bg header {
      background: #fff;
      position: relative;
      /* PC用ナビゲーションここから
      -------------------------------------------------------------------- */
      /* PC用ナビゲーションここまで
      -------------------------------------------------------------------- */ }
      .header_bg header .sp_h, .header_bg header .sp_nav {
        display: none; }
      .header_bg header .pc_h {
        display: block;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        vertical-align: bottom;
        padding: 5% 10px 50px 0;
        background: url("../img/pc/contact_frame.png");
        background-size: 250px;
        background-repeat: no-repeat;
        background-position: 100% 40%; }
        .header_bg header .pc_h .logo {
          width: 250px;
          height: auto; }
        .header_bg header .pc_h .pc_h_right {
          padding: 0x 10px 50px 0;
          width: 480px;
          display: flex; }
          .header_bg header .pc_h .pc_h_right .lesson {
            vertical-align: bottom;
            margin-right: 75px; }
            .header_bg header .pc_h .pc_h_right .lesson a {
              display: block; }
              .header_bg header .pc_h .pc_h_right .lesson a img {
                display: block;
                width: 180px;
                height: auto;
                vertical-align: bottom; }
          .header_bg header .pc_h .pc_h_right .contact {
            text-align: center; }
            .header_bg header .pc_h .pc_h_right .contact p {
              color: #b2804c; }
              .header_bg header .pc_h .pc_h_right .contact p i {
                padding-right: 2%; }
      .header_bg header .pc_nav {
        display: block; }
        .header_bg header .pc_nav .pc_nav_in {
          display: flex;
          width: 100%;
          height: 50px;
          margin: 0 auto;
          position: relative;
          /* PC用ナビゲーション個々の動き
          ------------------------------------------*/ }
          .header_bg header .pc_nav .pc_nav_in li {
            text-align: center;
            width: 14.3%;
            border-left: solid 1px #b2804c;
            position: relative; }
            .header_bg header .pc_nav .pc_nav_in li:last-child {
              border-right: solid 1px #b2804c; }
            .header_bg header .pc_nav .pc_nav_in li:after {
              content: " ";
              display: block;
              width: 26px;
              height: 20px;
              background: #ffcac9;
              border-radius: 100% 80% 100% 80%;
              position: absolute; }
            .header_bg header .pc_nav .pc_nav_in li:nth-child(even):after {
              background: #e6dea9; }
            .header_bg header .pc_nav .pc_nav_in li a {
              display: block;
              height: 50px; }
              .header_bg header .pc_nav .pc_nav_in li a span {
                font-size: 16px;
                font-size: 1.6rem;
                font-family: "Hannari";
                display: block;
                padding-top: 10px;
                position: relative;
                z-index: 1; }
              .header_bg header .pc_nav .pc_nav_in li a:hover {
                color: #626262; }
          .header_bg header .pc_nav .pc_nav_in .home::after {
            top: 50%;
            left: 20%; }
            .header_bg header .pc_nav .pc_nav_in .home::after a > span {
              z-index: 99; }
          .header_bg header .pc_nav .pc_nav_in .about:after {
            top: 30%;
            left: 25%;
            transition: .4s; }
          .header_bg header .pc_nav .pc_nav_in .lesson:after {
            top: 0;
            left: 30%; }
          .header_bg header .pc_nav .pc_nav_in .piano:after {
            top: 36%;
            left: 30%; }
          .header_bg header .pc_nav .pc_nav_in .teacher:after {
            top: 45%;
            left: 30%; }
          .header_bg header .pc_nav .pc_nav_in .access:after {
            top: 0;
            left: 30%; }
          .header_bg header .pc_nav .pc_nav_in .contact:after {
            top: 50%;
            left: 40%; }

  /*header,nav共通ここまで
  -------------------------------------------- */
  main {
    padding-top: 0; }
    main .main_v {
      position: relative; }
      main .main_v .main_img_sp {
        display: none; }
      main .main_v .main_catch_pc {
        display: block;
        width: 100%;
        position: absolute;
        top: 0;
        z-index: 9; }
    main .sp_bg_score {
      background: none; }
      main .sp_bg_score .main_catch_sp {
        display: none; }
      main .sp_bg_score .int_sec {
        padding-top: 30px;
        display: flex;
        text-align: center;
        background: url("../img/common/bg_img.png") no-repeat;
        background-position: 0 100%; }
        main .sp_bg_score .int_sec .int {
          display: block; }
          main .sp_bg_score .int_sec .int h3 {
            font-size: 24px;
            font-size: 2.4rem;
            letter-spacing: 0;
            padding-top: 20px; }
          main .sp_bg_score .int_sec .int img {
            max-width: 70%;
            border: solid 10px #fff;
            border-radius: 90%; }
          main .sp_bg_score .int_sec .int .flex .indent {
            padding-top: 30px; }
    main .info_link {
      display: block;
      margin-bottom: 2%; }
      main .info_link dt {
        float: left;
        margin-right: 2%; }
      main .info_link dd {
        float: left; }
      main .info_link:after {
        display: block;
        content: "";
        clear: both; }
    main .side {
      margin-top: 58px; }
    main .greeting {
      width: 90%;
      height: auto; }
    main .info, main .access {
      width: 90%; }
    main .recital .trim, main .side .bn .concert .trim, main .side .bn .blog .trim {
      vertical-align: bottom; }
    main .back_wrap {
      text-align: right; }

  /* footer共通ここから
  -------------------------------------------- */
  footer .ft_bg {
    background: url("../img/common/footer_img1.png"), url("../img/common/footer_img2.png");
    background-repeat: no-repeat,no-repeat;
    background-position: 0 100%, 100% 80%;
    background-size: 20%, 20%;
    padding-top: 5%; }
  footer .footer_in {
    display: flex;
    width: 80%; }
    footer .footer_in .footerlogo {
      display: none; }
    footer .footer_in .footerlogo_pc {
      display: block;
      width: 337px;
      height: 54px;
      margin-left: 10%; }
    footer .footer_in .sitemap {
      font-size: 10px;
      font-size: 1rem;
      display: flex;
      width: 30%;
      justify-content: space-between;
      line-height: 2.5;
      text-align: left; }
  footer .copyright {
    text-align: right;
    margin-top: 0; }

  .pc_ft {
    background: #fff;
    padding-top: 0; }

  /* footer共通ここまで
  -------------------------------------------- */ }
/* about.html
-------------------------------------------- */
.bg_score {
  position: relative;
  content: "";
  background: url("../img/common/bg_score.png") repeat-y top left;
  background-size: contain;
  background-position: 0 -80px;
  width: 100%; }

.about_desc_wrap {
  margin-bottom: 10%; }
  .about_desc_wrap .title {
    display: inline-block; }
    .about_desc_wrap .title h2 {
      font-family: "set_hannari", "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
      letter-spacing: -0.1rem; }
    .about_desc_wrap .title .line {
      display: block;
      width: 100%;
      border-top: solid 1px #b2804c;
      border-bottom: solid 3px #b2804c;
      padding: 3px 0 0 0;
      margin-bottom: 3%; }
  .about_desc_wrap .about_wrap p {
    font-size: 14px;
    font-size: 1.4rem; }
  .about_desc_wrap .about_desc_right {
    padding-top: 2%;
    margin-bottom: 2%; }
    .about_desc_wrap .about_desc_right img {
      vertical-align: bottom;
      border: solid 10px #fff;
      border-radius: 5px; }

.column {
  display: flex;
  flex-direction: column-reverse;
  align-content: center; }

.desc2_wrap .desc2_title {
  display: block;
  font-size: 20px;
  font-size: 2rem;
  color: #626262;
  text-align: center;
  margin-bottom: 5%; }
.desc2_wrap h3 {
  font-size: 18px;
  font-size: 1.8rem;
  color: #b2804c;
  position: relative;
  display: block;
  padding-left: 43px;
  margin-bottom: 5%; }
.desc2_wrap .align {
  padding-top: 5px; }
.desc2_wrap .pt1::before {
  position: absolute;
  content: "";
  width: 38px;
  height: 38px;
  background: url("../img/sp/pt1@2x.png") top left no-repeat;
  background-size: 38px 38px; }
.desc2_wrap .pt2::before {
  position: absolute;
  content: "";
  width: 38px;
  height: 38px;
  background: url("../img/sp/pt2@2x.png") top left no-repeat;
  background-size: 38px 38px;
  padding-right: 5%; }
.desc2_wrap .pt3::before {
  position: absolute;
  content: "";
  width: 38px;
  height: 38px;
  background: url("../img/sp/pt3@2x.png") top left no-repeat;
  background-size: 38px 38px;
  padding-right: 5%; }
.desc2_wrap p {
  font-size: 14px;
  font-size: 1.4rem;
  color: #b2804c;
  margin-bottom: 10%; }
.desc2_wrap .wrap {
  text-align: right; }
  .desc2_wrap .wrap .click_re {
    display: inline-block;
    text-align: center;
    background: #ffcac9;
    padding: 3% 10%;
    border-radius: 5px; }

/* lesson.html
-------------------------------------------- */
.lesson_desc_wrap .title, .access_desc_wrap .title, .profile_desc_wrap .title, .piano_desc_wrap .title, .contact_desc_wrap .title {
  display: inline-block; }
  .lesson_desc_wrap .title h2, .access_desc_wrap .title h2, .profile_desc_wrap .title h2, .piano_desc_wrap .title h2, .contact_desc_wrap .title h2 {
    font-family: "set_hannari", "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    letter-spacing: -0.1rem; }
  .lesson_desc_wrap .title .line, .access_desc_wrap .title .line, .profile_desc_wrap .title .line, .piano_desc_wrap .title .line, .contact_desc_wrap .title .line {
    display: block;
    width: 100%;
    border-top: solid 1px #b2804c;
    border-bottom: solid 3px #b2804c;
    padding: 3px 0 0 0;
    margin-bottom: 3%; }
.lesson_desc_wrap .lesson_desc, .access_desc_wrap .lesson_desc, .profile_desc_wrap .lesson_desc, .piano_desc_wrap .lesson_desc, .contact_desc_wrap .lesson_desc {
  background: #fff;
  border-radius: 10px;
  padding: 5%;
  margin-bottom: 5%; }
  .lesson_desc_wrap .lesson_desc i, .access_desc_wrap .lesson_desc i, .profile_desc_wrap .lesson_desc i, .piano_desc_wrap .lesson_desc i, .contact_desc_wrap .lesson_desc i {
    font-size: 20px;
    font-size: 2rem;
    padding-right: 2%;
    color: #b2804c; }
  .lesson_desc_wrap .lesson_desc p, .access_desc_wrap .lesson_desc p, .profile_desc_wrap .lesson_desc p, .piano_desc_wrap .lesson_desc p, .contact_desc_wrap .lesson_desc p {
    margin: 5px 0 5px;
    margin-left: 25px; }
.lesson_desc_wrap .lesson_desc_right, .access_desc_wrap .lesson_desc_right, .profile_desc_wrap .lesson_desc_right, .piano_desc_wrap .lesson_desc_right, .contact_desc_wrap .lesson_desc_right {
  padding-top: 2%;
  margin-bottom: 2%; }
  .lesson_desc_wrap .lesson_desc_right img, .access_desc_wrap .lesson_desc_right img, .profile_desc_wrap .lesson_desc_right img, .piano_desc_wrap .lesson_desc_right img, .contact_desc_wrap .lesson_desc_right img {
    vertical-align: bottom; }

.wrap {
  text-align: center;
  margin-bottom: 5%; }
  .wrap .click_free, .profile_desc_wrap .wrap .click_play, .wrap_click .wrap .click_play {
    width: 180px;
    display: inline-block;
    text-align: center;
    background: #ffcac9;
    padding: 10px 40px;
    border-radius: 5px; }

.le_desc2_wrap .desc2_title {
  display: block;
  font-size: 20px;
  font-size: 2rem;
  color: #626262;
  text-align: center;
  margin-bottom: 5%; }
.le_desc2_wrap h3 {
  font-size: 18px;
  font-size: 1.8rem;
  color: #b2804c;
  position: relative;
  display: block;
  margin-bottom: 5%; }
  .le_desc2_wrap h3 i {
    padding-right: 2%; }
  .le_desc2_wrap h3 i.y {
    color: #e6dea9; }
  .le_desc2_wrap h3 i.p {
    color: #ffcac9; }
  .le_desc2_wrap h3 i.g {
    color: #14c0c9; }
.le_desc2_wrap .align {
  padding-top: 5px; }
.le_desc2_wrap p {
  font-size: 14px;
  font-size: 1.4rem;
  color: #b2804c;
  margin-bottom: 10%; }
.le_desc2_wrap table tr, .le_desc2_wrap table td {
  vertical-align: top;
  padding: 0 10px 5px 0;
  font-size: 11px;
  font-size: 1.1rem; }

.lesson_desc3_wrap .desc3_title {
  display: block;
  font-size: 20px;
  font-size: 2rem;
  color: #626262;
  text-align: center;
  margin-bottom: 5%; }
.lesson_desc3_wrap p {
  font-size: 14px;
  font-size: 1.4rem;
  color: #b2804c; }

/* access.html
-------------------------------------------- */
.access_desc_wrap p {
  margin-top: 2%;
  line-height: 2.0; }
.access_desc_wrap .access_loca {
  display: flex;
  justify-content: space-between; }
  .access_desc_wrap .access_loca img {
    width: 120px; }

/* profile.html
-------------------------------------------- */
.profile_desc_wrap .profile_wrap {
  margin-top: 2%; }
.profile_desc_wrap .profile_left img {
  vertical-align: bottom;
  width: 300px;
  border: solid 10px #fff;
  border-radius: 5%; }
.profile_desc_wrap .profile_right {
  margin-top: 5%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  padding: 10%; }
  .profile_desc_wrap .profile_right h3 {
    text-align: center;
    font-size: 24px;
    font-size: 2.4rem;
    font-family: "set_hannari", "Hannari", "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    letter-spacing: -0.1rem;
    padding-bottom: 10px; }
    .profile_desc_wrap .profile_right h3 .br {
      display: block;
      font-size: 16px;
      font-size: 1.6rem; }
.profile_desc_wrap .wrap {
  margin-top: 5%; }
  .profile_desc_wrap .wrap .click_play {
    background: #e6dea9; }

/* piano.html
-------------------------------------------- */
.piano_desc_wrap .piano_desc {
  margin-top: 2%; }
.piano_desc_wrap .piano_desc_right {
  padding-top: 2%; }
  .piano_desc_wrap .piano_desc_right img {
    vertical-align: bottom; }

.pi_desc2_wrap {
  margin-top: 5%; }
  .pi_desc2_wrap .pt_wrap {
    position: relative;
    background: url("../img/common/piano_bg1.png") no-repeat, url("../img/common/piano_bg2.png") no-repeat, url("../img/common/piano_bg3.png") no-repeat;
    background-position: 10% 20%, 90% 40%, 90% 90%; }
    .pi_desc2_wrap .pt_wrap .bg_wrap {
      background: rgba(255, 255, 255, 0.6);
      margin-bottom: 5%;
      border-radius: 10px; }
    .pi_desc2_wrap .pt_wrap .pi_pt1, .pi_desc2_wrap .pt_wrap .pi_pt2, .pi_desc2_wrap .pt_wrap .pi_pt3, .pi_desc2_wrap .pt_wrap .pi_pt4, .pi_desc2_wrap .pt_wrap .pi_pt5 {
      padding: 5%; }
      .pi_desc2_wrap .pt_wrap .pi_pt1 h3, .pi_desc2_wrap .pt_wrap .pi_pt2 h3, .pi_desc2_wrap .pt_wrap .pi_pt3 h3, .pi_desc2_wrap .pt_wrap .pi_pt4 h3, .pi_desc2_wrap .pt_wrap .pi_pt5 h3 {
        font-size: 18px;
        font-size: 1.8rem; }
        .pi_desc2_wrap .pt_wrap .pi_pt1 h3 i, .pi_desc2_wrap .pt_wrap .pi_pt2 h3 i, .pi_desc2_wrap .pt_wrap .pi_pt3 h3 i, .pi_desc2_wrap .pt_wrap .pi_pt4 h3 i, .pi_desc2_wrap .pt_wrap .pi_pt5 h3 i {
          color: #14c0c9;
          padding-right: 5px; }
      .pi_desc2_wrap .pt_wrap .pi_pt1 p, .pi_desc2_wrap .pt_wrap .pi_pt2 p, .pi_desc2_wrap .pt_wrap .pi_pt3 p, .pi_desc2_wrap .pt_wrap .pi_pt4 p, .pi_desc2_wrap .pt_wrap .pi_pt5 p {
        color: #b2804c; }

.wrap_click .wrap {
  margin-top: 5%; }
  .wrap_click .wrap .click_play {
    background: #e6dea9; }

/* contact.html
-------------------------------------------- */
.contact_desc_wrap .contact_desc p {
  width: 100%;
  margin-top: 5%; }
.contact_desc_wrap form {
  margin-top: 5%; }
  .contact_desc_wrap form .box_left dl dt {
    width: 120px; }
  .contact_desc_wrap form .box_left .input {
    width: 200px; }
  .contact_desc_wrap form .box_right textarea {
    width: 300px;
    height: 200px; }
  .contact_desc_wrap form .box_right .btn_box .btn_confirm {
    background: #ffcac9;
    border: none; }

/* (PC:900px)
-------------------------------------------- */
@media (min-width: 900px) {
  .bg_score {
    position: relative;
    content: "";
    background: url("../img/common/bg_score.png") repeat-y top left;
    background-size: contain;
    background-position: 0 -500px;
    width: 100%; }

  .about_desc_wrap, .lesson_desc_wrap, .access_desc_wrap, .profile_desc_wrap, .piano_desc_wrap, .contact_desc_wrap, .access_desc_wrap {
    margin-top: 2%; }
    .about_desc_wrap .column, .lesson_desc_wrap .column, .access_desc_wrap .column, .profile_desc_wrap .column, .piano_desc_wrap .column, .contact_desc_wrap .column, .access_desc_wrap .column {
      display: block;
      margin: 0;
      margin-top: 3%; }
    .about_desc_wrap .about_desc, .lesson_desc_wrap .about_desc, .access_desc_wrap .about_desc, .profile_desc_wrap .about_desc, .piano_desc_wrap .about_desc, .contact_desc_wrap .about_desc, .access_desc_wrap .about_desc {
      padding-right: 15%;
      box-sizing: border-box; }
    .about_desc_wrap .about_desc_right, .lesson_desc_wrap .about_desc_right, .access_desc_wrap .about_desc_right, .profile_desc_wrap .about_desc_right, .piano_desc_wrap .about_desc_right, .contact_desc_wrap .about_desc_right, .access_desc_wrap .about_desc_right {
      padding: 0;
      margin: 0; }

  .desc2_wrap .desc2_title, .desc2_wrap .desc3_title, .lesson_desc_right .desc2_title, .lesson_desc_right .desc3_title, .le_desc2_wrap .desc2_title, .le_desc2_wrap .desc3_title, .le_desc3_wrap .desc2_title, .le_desc3_wrap .desc3_title, .access_desc2_wrap .desc2_title, .access_desc2_wrap .desc3_title, .pi_desc2_wrap .desc2_title, .pi_desc2_wrap .desc3_title {
    text-align: left; }
  .desc2_wrap h3, .lesson_desc_right h3, .le_desc2_wrap h3, .le_desc3_wrap h3, .access_desc2_wrap h3, .pi_desc2_wrap h3 {
    padding-left: 6%;
    margin-bottom: 2%; }
  .desc2_wrap p, .lesson_desc_right p, .le_desc2_wrap p, .le_desc3_wrap p, .access_desc2_wrap p, .pi_desc2_wrap p {
    width: 400px;
    margin-left: 50px;
    margin-bottom: 4%; }
  .desc2_wrap .wrap .click_re, .lesson_desc_right .wrap .click_re, .le_desc2_wrap .wrap .click_re, .le_desc3_wrap .wrap .click_re, .access_desc2_wrap .wrap .click_re, .pi_desc2_wrap .wrap .click_re {
    display: block;
    width: 100px;
    margin-left: 400px;
    padding: 10px 40px;
    border-radius: 10px; }
  .desc2_wrap .le_pt1, .desc2_wrap .le_pt2, .desc2_wrap .le_pt3, .lesson_desc_right .le_pt1, .lesson_desc_right .le_pt2, .lesson_desc_right .le_pt3, .le_desc2_wrap .le_pt1, .le_desc2_wrap .le_pt2, .le_desc2_wrap .le_pt3, .le_desc3_wrap .le_pt1, .le_desc3_wrap .le_pt2, .le_desc3_wrap .le_pt3, .access_desc2_wrap .le_pt1, .access_desc2_wrap .le_pt2, .access_desc2_wrap .le_pt3, .pi_desc2_wrap .le_pt1, .pi_desc2_wrap .le_pt2, .pi_desc2_wrap .le_pt3 {
    display: flex; }
    .desc2_wrap .le_pt1 h3, .desc2_wrap .le_pt2 h3, .desc2_wrap .le_pt3 h3, .lesson_desc_right .le_pt1 h3, .lesson_desc_right .le_pt2 h3, .lesson_desc_right .le_pt3 h3, .le_desc2_wrap .le_pt1 h3, .le_desc2_wrap .le_pt2 h3, .le_desc2_wrap .le_pt3 h3, .le_desc3_wrap .le_pt1 h3, .le_desc3_wrap .le_pt2 h3, .le_desc3_wrap .le_pt3 h3, .access_desc2_wrap .le_pt1 h3, .access_desc2_wrap .le_pt2 h3, .access_desc2_wrap .le_pt3 h3, .pi_desc2_wrap .le_pt1 h3, .pi_desc2_wrap .le_pt2 h3, .pi_desc2_wrap .le_pt3 h3 {
      width: 130px;
      padding: 0; }
    .desc2_wrap .le_pt1 p, .desc2_wrap .le_pt2 p, .desc2_wrap .le_pt3 p, .lesson_desc_right .le_pt1 p, .lesson_desc_right .le_pt2 p, .lesson_desc_right .le_pt3 p, .le_desc2_wrap .le_pt1 p, .le_desc2_wrap .le_pt2 p, .le_desc2_wrap .le_pt3 p, .le_desc3_wrap .le_pt1 p, .le_desc3_wrap .le_pt2 p, .le_desc3_wrap .le_pt3 p, .access_desc2_wrap .le_pt1 p, .access_desc2_wrap .le_pt2 p, .access_desc2_wrap .le_pt3 p, .pi_desc2_wrap .le_pt1 p, .pi_desc2_wrap .le_pt2 p, .pi_desc2_wrap .le_pt3 p {
      width: 600px; }
  .desc2_wrap table, .lesson_desc_right table, .le_desc2_wrap table, .le_desc3_wrap table, .access_desc2_wrap table, .pi_desc2_wrap table {
    margin-left: 170px; }
    .desc2_wrap table tr, .desc2_wrap table td, .lesson_desc_right table tr, .lesson_desc_right table td, .le_desc2_wrap table tr, .le_desc2_wrap table td, .le_desc3_wrap table tr, .le_desc3_wrap table td, .access_desc2_wrap table tr, .access_desc2_wrap table td, .pi_desc2_wrap table tr, .pi_desc2_wrap table td {
      vertical-align: top;
      padding: 0 10px 5px 0; }
  .desc2_wrap .wrap .click_free, .desc2_wrap .profile_desc_wrap .wrap .click_play, .profile_desc_wrap .desc2_wrap .wrap .click_play, .desc2_wrap .wrap_click .wrap .click_play, .wrap_click .desc2_wrap .wrap .click_play, .lesson_desc_right .wrap .click_free, .lesson_desc_right .profile_desc_wrap .wrap .click_play, .profile_desc_wrap .lesson_desc_right .wrap .click_play, .lesson_desc_right .wrap_click .wrap .click_play, .wrap_click .lesson_desc_right .wrap .click_play, .le_desc2_wrap .wrap .click_free, .le_desc2_wrap .profile_desc_wrap .wrap .click_play, .profile_desc_wrap .le_desc2_wrap .wrap .click_play, .le_desc2_wrap .wrap_click .wrap .click_play, .wrap_click .le_desc2_wrap .wrap .click_play, .le_desc3_wrap .wrap .click_free, .le_desc3_wrap .profile_desc_wrap .wrap .click_play, .profile_desc_wrap .le_desc3_wrap .wrap .click_play, .le_desc3_wrap .wrap_click .wrap .click_play, .wrap_click .le_desc3_wrap .wrap .click_play, .access_desc2_wrap .wrap .click_free, .access_desc2_wrap .profile_desc_wrap .wrap .click_play, .profile_desc_wrap .access_desc2_wrap .wrap .click_play, .access_desc2_wrap .wrap_click .wrap .click_play, .wrap_click .access_desc2_wrap .wrap .click_play, .pi_desc2_wrap .wrap .click_free, .pi_desc2_wrap .profile_desc_wrap .wrap .click_play, .profile_desc_wrap .pi_desc2_wrap .wrap .click_play, .pi_desc2_wrap .wrap_click .wrap .click_play, .wrap_click .pi_desc2_wrap .wrap .click_play {
    display: block;
    border-radius: 10px; }

  .le_desc3_wrap p {
    width: auto; }

  .profile_desc_wrap .profile_right {
    margin: 0;
    border-radius: 5%;
    padding: 8% 15%; }
    .profile_desc_wrap .profile_right h3 .br {
      display: inline;
      font-size: 24px;
      font-size: 2.4rem;
      padding-left: 2%; }
  .profile_desc_wrap .wrap {
    text-align: right; }

  .pt1 h3, .pt2 h3, .pt3 h3 {
    padding: 0;
    margin-left: 6%;
    width: 300px; }
  .pt1 p, .pt2 p, .pt3 p {
    width: 600px; }

  /* access.html
  -------------------------------------------- */
  .access_desc_wrap .access_desc p {
    margin-bottom: 98px; }

  .access_desc2_wrap {
    margin-top: 5%; }
    .access_desc2_wrap .desc2_title {
      font-size: 20px;
      font-size: 2rem;
      margin-bottom: 2%; }
    .access_desc2_wrap p {
      margin: 0;
      color: #b2804c; }
    .access_desc2_wrap .gm_area {
      margin-top: 30px; }

  .pi_desc2_wrap_all {
    position: relative;
    height: 1500px;
    width: 100%;
    top: -200px; }
    .pi_desc2_wrap_all .pi_desc2_wrap {
      height: 1500px; }
      .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap {
        width: 100%;
        height: 1500px; }
        .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .pi_pt1, .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .pi_pt2, .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .pi_pt3, .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .pi_pt4, .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .pi_pt5 {
          padding: 5%; }
          .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .pi_pt1 h3, .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .pi_pt2 h3, .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .pi_pt3 h3, .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .pi_pt4 h3, .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .pi_pt5 h3 {
            font-size: 24px;
            font-size: 2.4rem;
            padding: 0; }
          .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .pi_pt1 p, .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .pi_pt2 p, .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .pi_pt3 p, .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .pi_pt4 p, .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .pi_pt5 p {
            margin: 0; }
        .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .left1 {
          position: absolute;
          top: 0;
          width: 50%; }
        .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .right1 {
          position: absolute;
          top: 283px;
          left: 500px;
          width: 50%; }
        .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .left2 {
          position: absolute;
          top: 566px;
          width: 50%; }
        .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .right2 {
          position: absolute;
          top: 849px;
          left: 500px;
          width: 50%; }
        .pi_desc2_wrap_all .pi_desc2_wrap .pt_wrap .left3 {
          position: absolute;
          top: 1132px;
          width: 50%; }

  .row_wrap {
    position: relative;
    top: -200px; }
    .row_wrap .wrap_click {
      height: auto;
      display: flex;
      justify-content: flex-end; }
      .row_wrap .wrap_click .wrap {
        position: relative;
        display: block;
        margin: 0 0 0 20px; }
        .row_wrap .wrap_click .wrap .click_play {
          padding: 5%; }
      .row_wrap .wrap_click::after {
        position: absolute;
        background: url("../img/common/piano_bg4.png") no-repeat;
        content: "";
        width: 501px;
        height: 142px;
        top: 130px;
        right: 25%; }

  /* contact.html
  -------------------------------------------- */
  .contact_desc_wrap .column {
    margin-top: 0; }
    .contact_desc_wrap .column .contact_desc {
      width: 420px; }
  .contact_desc_wrap form {
    margin-top: 5%;
    width: 100%;
    display: flex; }
    .contact_desc_wrap form .box_left {
      padding-right: 10%; }
      .contact_desc_wrap form .box_left dl {
        display: flex; }
        .contact_desc_wrap form .box_left dl dt {
          width: 120px;
          text-align: right;
          padding-right: 5px;
          box-sizing: border-box; }
      .contact_desc_wrap form .box_left .input {
        width: 220px; }
    .contact_desc_wrap form .box_right {
      display: block; }
      .contact_desc_wrap form .box_right textarea {
        width: 400px;
        height: 92%; }
      .contact_desc_wrap form .box_right .btn_box {
        text-align: right; }
        .contact_desc_wrap form .box_right .btn_box .btn_confirm {
          background: #ffcac9;
          border: none; } }

/*# sourceMappingURL=style.css.map */
